@model CustomClothing.Models.Produto
@{
    ViewData["Title"] = "AdicionarCarrinho";
}

<div class="container py-5">
    <div class="row g-5">
        <!-- Coluna 1: Imagem e Cards -->
        <div class="col-lg-6">
            <!-- Imagem Principal -->
            <div id="zoom" class="text-center mb-4">
                <img src="@Model.Estampa" alt="imagem" id="imgzoom" class="img-fluid rounded shadow">
            </div>

            <!-- Cards -->
            <div class="row row-cols-1 row-cols-md-2 g-4">
                <div class="col">
                    <a asp-action="Personalizar" class="text-decoration-none">
                        <div class="card h-100 shadow">
                            <img src="~/Img/Blusa1.jpg" href="Produto/Personalizar" class="card-img-top img-fluid" alt="Personalizar Roupas">
                            <div class="card-body">
                                <h5 class="card-title" style="color: #000; padding: 0.1em">Personalizar Roupas</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col">
                    <a asp-action="Produto" class="text-decoration-none">
                        <div class="card h-100 shadow">
                            <img src="~/Img/Nike.jpg" href="Produto/Produto" class="card-img-top img-fluid" alt="Ver outros produtos">
                            <div class="card-body">
                                <h5 class="card-title" style="color: #000; padding: 0.1em">Ver outros produtos</h5>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <!-- Coluna 2: Detalhes do Produto -->
        <div class="col-lg-6">
            <h2 class="nomeProd" style="padding: 1em 0 1em 0">@Model.Descricao</h2>
            <h6 class="fw-bold">Valor: </h6>
            <h4 class="text-success" style="padding: 0.1em 0 0.1em 0">R$ @Model.Valor</h4>

            <hr class="my-4">

            <!-- Tecido -->
            <div style="display: flex; align-items: end; gap: 1em;">
                <p class="fw-bold mt-4">Tipo de Tecido: </p>
                <h4 class="text-dark fw-bold" style="padding: 0.1em 0 0.1em 0; margin-bottom: 11px">@Model.Tecido</h4>
            </div>

            <!-- Cores -->
            <p class="fw-bold">Cor: </p>
            <h4 class="text-dark fw-bold" style="padding: 0.1em 0 0.1em 0">@Model.Cor</h4>



            <!-- Tamanhos -->
            <p class="fw-bold mt-4">Tamanho: </p>
            <div class="d-flex gap-2">
                <button class="btn" style="color: #000; border-color: #000; width: 7vw;">@Model.Tamanho</button>
            </div>

            <!-- Quantidade -->
            <div style="display: flex; align-items: center; gap: 1em;">
                <p class="fw-bold mt-4">Quantidade em estoque: </p>
                <h6 class="text-dark fw-bold" style="padding: 0.1em 0 0.1em 0; margin-top: 18px">@Model.Quantidade</h6>
            </div>



            <!-- Botão de Compra -->
            <div class="text-center mt-4">
                @using (Html.BeginForm("Carrinho", "Compra", FormMethod.Post))
                {
                    <input type="hidden" name="id" value=@Model.IdProduto>
                    <button type="submit" style=" background-color:#1C003F; margin-bottom: 10px" class="btn btn-primary bg-custom w-100">Adicionar no Carrinho</button>
                }
            </div>
            <!-- Voltar -->
            <a asp-controller="Home" asp-action="Index" style=" background-color:#1C003F" class="btn btn-primary bg-custom w-100">Voltar para o Inicio</a>
        </div>
    </div>
</div>
<script src="~/js/teste.js"></script>
