@model IEnumerable<CustomClothing.Models.Produto>
@{
    ViewData["Title"] = "Produtos";
}

<style>
    .bg-custom {
        background-color: #1C003F;
    }
</style>

<div class="container py-5">
    <h1 class="text-center mb-4">Nossos Produtos</h1>
    <!--Método para aparecer os produtos para o cliente-->
    <div class="align-content-center" style="margin-left: 6%">
        <div class="col-lg-11">
            <div class="row align-content-center">
                @foreach (var item in Model)
                {
                    <div class="col-lg-5 col-md-7 mb-5" style="margin:6% 7">
                        <div class="card h-100">

                            @if (@item.Estampa != null)
                            {
                                <img class="card-img-right flex-auto d-none d-md-block" data-src=" " alt="Thumbnail [300x300]" style="width: 375px; height: 300px;" src="@item.Estampa" data-holder-rendered="true">
                            }
                            else
                            {
                                <img class="card-img-right flex-auto d-none d-md-block" data-src=" " alt="Thumbnail [300x300]" style="width: 375px; height: 300px;" src="~/Images/image-not-found.jpg" data-holder-rendered="true">
                            }

                            <div class="card-body">
                                <h4 class="card-title">
                                    <h4 class="text-decoration-none" href="@item.Estampa">@item.Descricao</h4>
                                </h4>
                                <spam>Tamanho: @item.Tamanho</spam>
                                <br />
                                <spam>Preço:R$ @item.Valor</spam>
                            </div>
                            <div>
                                @using (Html.BeginForm("GuardarProduto", "Produto", FormMethod.Post))
                                {
                                    <input type="hidden" name="id" value=@item.IdProduto>
                                    <button type="submit" class="btn btn-primary bg-custom w-100">Adicionar</button>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
</div>
